*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
body {
    background-color: rgb(20, 19, 19);
    width: 100%;
    height: 99.4vh;
  }
  .stuff {
    display: flex;
  }
  .nav .contain {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    height: 35px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    border-bottom: 1px solid white;
    padding-top: 7px;
  }
  .stuff .home {
    padding-right: 13px;
  }
  .button .login {
    margin-right: 10px;
  }
  .logo {
    font-size: 20px;
    font-family: cursive;
    font-weight: 700;
    font-style: italic;
    color: white;
  }
  .login {
    padding: 7px 12px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .login:hover {
    color: #fff;
    background: rgb(20, 19, 19);
    border: 1px solid white;
  }
  .signup {
    padding: 7px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.body .action {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.body .note {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    padding: 13rem;
}




  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}